# Секретный ключ для Flask-приложения, используется для защиты сессий и т.д.
    SECRET_KEY = 'ваш_секретный_ключ'

    # Строка подключения к базе данных PostgreSQL
    SQLALCHEMY_DATABASE_URI = 'postgresql://<username>:<password>@localhost:5432/<database_name>'

    # Дополнительные настройки
    # Например, настройки для pgAdmin (если используется)
    PGADMIN_DEFAULT_EMAIL = 'ваш_email@example.com'
    PGADMIN_DEFAULT_PASSWORD = 'ваш_пароль'
    PGADMIN_PASSWORD= 'ваш_пароль'